.container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
    

  }
  
  .label{
    margin-bottom:20px;
    font-weight: 500;
  }
  
  .checkcontainer{
    border-radius:8px;
    padding:7px;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .active{
    border: 1px solid #0069d9
  }

  .container-select{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 1200px;
      flex-wrap: wrap;

  }